.main-nav {
  /*display: inline-block;*/
}



.preferences {
display: inline-block;
margin-bottom: 5%;
}

#category {
  margin-bottom: 1%;
}

.settingsSubmit {
  margin-top: 5%;
}

#anna {
  display: inline-block;
  width: 45%;
}

#annie {
  display: inline-block;
  width: 45%;
}

#adrian {
  display: inline-block;
  width: 45%;
}

#khalid {
  display: inline-block;
  width: 45%;
}

/*.bio1 {
  flex-direction: row;
  /*display: inline-flex;*/
  /*width: 48%;

}*/
/*.bio2 {
  flex-direction: row;
  display: inline-flex;
  width: 48%;
}

img {
  float: left;
  overflow-x: auto;
  clear: left;*/
/*}*/


/*mobile design 492 x 653*/
@media only screen and (min-width: 492px) {

  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }

  /*img {
    width: 50%;
    display: inline-block;
  }*/
}
