.main-nav {
  margin-left: 4%;
}

.preferences {
display: inline-block;
margin-bottom: 5%;
}

#category {
  margin-bottom: 1%;
}

.settingsSubmit {
  margin-top: 5%;
  border-radius: 8px;
}

.profile {
  margin: 0 auto;
}

#anna {
  display: inline-block;
  margin-right: 10%;
  margin-top: 2%;
}

#annie {
  display: inline-block;
  position: relative;
  margin-left: 10%;
}

#adrian {
  display: inline-block;
  margin-right: 10%;
}

#khalid {
  display: inline-block;
  margin-left: 10%;
}

#team {
  text-align: center;
}

.one div {
  margin-left: 10%;
}

.two div {
  margin-left: 10%;
}

#description {
  margin-left: 5%;
}

.img-wrapper {
  width: 80%;
  height: 0;
  padding-bottom: 79.5%;
  border: 2px solid black;
  position: relative;
}

img {
  width: 100%;
  position: absolute;
}

figcaption {
  text-align: center;
  padding-top: 1em;
}
