.heading-group-h1 {
  width: 80%;
  margin: 0 auto;
}

.icon-menu {
  font-size: 2em;
  float: left;
  margin-left: 5%;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: inline-flex;
}

.main-nav li {
  margin-right: 2em;
  font-size: 1em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#logo{
  font-family: 'Faster One', cursive;
  color: #A93226;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1%;
}

#tagline {
  font-family: 'Special Elite', cursive;
  font-size: 0.6em;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 60%;
}

#welcome {
  color: #5F6061;
  margin-top: 1%;
}

#dateDisplay {
  float: right;
  color: #5F6061;
}

#section {
  background-color: #E5E7E9;
  padding: 0.3em 0 0.3em 0.3em;
}

.horizontal {
  border-color: #BDC3C7;
  border-style: dotted;
}

li {
  list-style: none;
}

ol li {
  list-style: circle;
}

#category {
  font-style: italic;
  font-size: 80%;
}

.settingsSubmit {
  background-color: #D5D8DC;
}

#nyta {

}

span {
  color: #A93226;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
}

.profiles {
  height: 500px;
  background-color: white;
}

#anna {
    width: 250px;
}

#annie {
    width: 250px;
}

#adrian {
    width: 250px;
}

#khalid {
    width: 250px;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  margin-bottom: 5%;
}

figcaption {
  font-family: 'Special Elite', cursive;
}

#hidden ol li{
  list-style: none;
}

@media only screen and (min-width: 493px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .1em .1em .1em 1em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {

  }
  #logo {
    font-size: 4em;
    margin: 0.3em 0 0 0;
  }

  #tagline {
    font-family: 'Special Elite', cursive;
    font-size: 0.75em;
    margin-bottom: 5%;
    margin-left: 60%;
  }


  #description {
    font-size: 10px;
  }
